<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Lista książek</title>
</head>
<body>

	<table>
		<thead>
			<tr>
				<td>ID</td>
				<td>Title</td>
				<td>Authors</td>
				<td>Action</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="book : ${books}">
				<td th:text="${book.id}">id</td>
				<td th:text="${book.title}">title</td>
				<td th:text="${book.authors}">authors</td>
				<td><!-- <form th:method="get" th:action="@{/books/remove/__${book.id}__/}">
						<button type="submit">Remove this book</button>
					</form> -->
					<a th:href="@{/books/remove/__${book.id}__/}">Remove this book</a></td>

			</tr>
		</tbody>
	</table>
</body>
</html>
