<?xml version="1.0" encoding="UTF-8"?>
<!-- added xmlns:context and schema contexts -->
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />
	<context:component-scan base-package="pl.spring.demo"></context:component-scan>
	<aop:aspectj-autoproxy />

	<util:properties
		id="applicationProperties"
		location="classpath:config/application.properties" />

	<!-- AOP -->

	<bean
		id="bookDao"
		class="org.springframework.aop.framework.ProxyFactoryBean"
		autowire="byName">
		<!-- <property name="target" ref="target"> <bean class="pl.spring.demo.dao.impl.BookDaoImpl"> 
			<property name="sequence" ref="sequence" /> </bean> </property> -->
		<property name="interceptorNames">
			<list>
				<value>bookDaoAdvisor</value>
			</list>
		</property>
	</bean>

</beans>