<div>
	<form novalidate>
		<div class="modal-header">
			<h3 class="modal-title">Inserting new book</h3>
		</div>
		<div class="modal-body">
			<p>
				Insert book title: <input type="text" ng-model="bookTitle"
					placeholder="Insert title" /> <span style="color: red"
					ng-show="!(!!bookTitle)">Book title is required.</span>
			</p>
			<table class="table table-striped">
				<tr>
					<th>First name</th>
					<th>Last name</th>
					<th>Delete</th>
				</tr>
				<tr ng-repeat="author in authors">
					<td>{{ author.firstName }}</td>
					<td>{{ author.lastName }}</td>
					<td>
						<button class="btn btn-primary" ng-click="deleteAuthor($index)">Delete author no. {{$index+1}}</button>
					</td>
				</tr>
				<tr>
					<td><input type="text" ng-model="firstName" placeholder="First name"></td>
					<td><input type="text" ng-model="lastName" placeholder="Last name"></td>
					<td><button class="btn btn-primary" ng-disabled="!(!!firstName) || !(!!lastName)"
				ng-click="addAuthor(firstName,lastName)">Add author no. {{authors.length+1}}</button></td>
				</tr>
			</table>
		</div>
		<div class="modal-footer">
			<div flash-message="5000"></div>
			<button class="btn btn-primary" ng-disabled="!(!!bookTitle) || authors.length < 1"
				ng-click="addBook()">Add book</button>
			<button class="btn btn-warning" ng-click="$dismiss()">Close</button>
		</div>
	</form>
</div>